body {
  background-color: black;
  color: white;
  word-break: break-word;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
}

#main {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: monospace;
}

#me {
  margin: 0;
  border-radius: 100%;
  max-width: 250px;
  padding: 8px;
}

#title {
  font-size: 24pt;
  padding: 16px;
  text-align: center;
}

#subtitle {
  font-size: 20pt;
  padding: 8px;
  text-align: center;
}

#content {
  max-width: 800px;
  font-size: 16pt;
  line-height: 1.4;
}

#content > ul {
  padding: 8px;
}

#content > p {
  padding: 16px;
}

.link {
  color: lightblue;
}
